<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Achieve</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="main-header">
    <p class="flash"><%= notice %><%= alert %></p>
  </section>

  <section class="about">
    <h1>About Instagoo</h1>
    <p>
       Instagooは、写真共有用アプリです。<br>
       Instagooに投稿することで、撮影した写真を記録し、いつでもどこからでも見ることができます。
    </p>
  </section>


</body>
</html>
